# OS files
.DS_Store
Thumbs.db

# Generic always-ignore extensions
*.diff
*.err
*.log
*.orig
*.zip
*~

# Editor folders
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
/.vscode/

# Composer
/vendor/
/composer.lock

# Codeception
/tests/_support/_generated/

# PHP CS Sniffer
/.php-cs-fixer.cache

# NPM
/node_modules/
/package-lock.json
