{% extends "index.twig" %}



{% block title %}
    Error 500 - Internal Server Error
{% endblock title %}



{% block content %}

<div class="text-center rounded-3 p-5 bg-danger-subtle">
    <h1 class="display-1 mb-4">
        Error 500 - Internal Server Error
    </h1>

    <p class="lead">
        This page could be loaded due to an internal server error.
        You could try again later.
    </p>

    <p class="lead">
        Alternatively, you can <a href="http://www.checkupdown.com/status/E500.html">learn more about 500 errors</a>.
    </p>
</div>

{% endblock content %}
