<footer>
    <nav class="navbar border-top border-body">
        <div class="container">

            <span class="navbar-text">
                <span class="fa-regular fa-copyright fa-fw"></span>

                {{ translate("_partials/footer", "copyright") }}
            </span>

        </div>
    </nav>
</footer>
