<footer>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">

            <span class="navbar-text">
                <span class="far fa-copyright fa-fw"></span>

                Add your copyright notice here.
            </span>

        </div>
    </nav>
</footer>
