<header>
    <nav class="navbar border-bottom border-body">
        <div class="container">

            <a href="{{ url('') }}" class="navbar-brand">
                {{ translate("_", "brand") }}
            </a>

        </div>
    </nav>
</header>
