<header>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container">

            <a href="{{ url('') }}" class="navbar-brand">
                New Project
            </a>

        </div>
    </nav>
</header>
