{% extends "index.twig" %}



{% block content %}

<div class="text-center rounded-3 p-5 bg-primary-subtle">
    <p class="lead fs-1">
        This is where it all begins...
    </p>

    <p>
        For a full guide on customising and building with Centum, see the
        <a href="https://sidroberts.co.uk/centum" target="_blank">Centum Documentation</a>.
    </p>
</div>

{% endblock %}
