{% extends "index.twig" %}



{% block content %}

<div class="text-center rounded-3 p-5 bg-primary-subtle">
    <p class="lead fs-1">
        {{ translate("index/index", "title") }}
    </p>

    <p>
        {{ translate("index/index", "description") }}
    </p>
</div>

{% endblock %}
